@import url('./meta/responsive.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* global */
:root{
    --black: black;
    --grey:#717171;
    --white: white;
}
.p-large{
    color: var(--grey);
    display: inline-block;
    vertical-align: super;
}
a{
    text-decoration: none;
    color: var(--grey);
}
ul,
li{
    list-style: none;
}

/* global */

/* HEADER */
header{
    position: relative;    
}
.header-container{
    background-color: var(--black);
    width: 100%;
    height: 3.75rem;
    opacity: 0.3;
    position: fixed;
}
/* HEADER */

/* MAIN */
main{
    background-color: #141922;
    display: flex;
    height: 100vw;
}
/* NAVBAR */
.navbar{
    height: 100vw;
}
.xs-container{              /*contenitore principale dell'xs schermo*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    height: 100vh;
    width: 3.125rem;
}
    /* parte superiore */
li.xs-li {                  /*lista schermo xs*/
    text-align: center;
    padding: .875rem;
}
li.xs-li.logo-xs {          /*logo schermo xs*/
    padding-top: .3125rem;
    padding-bottom: 1.0625rem;
}
    /* fine parte superiore */
    /* parte inferiore */
    .man-logo{
        padding-top: 1.4375rem;
        padding-bottom: .625rem;
    }
    .man-logo img{
        border-radius: 50%;
        background-color: #808080;
        object-fit: cover;
    }
    .xs-li a img{
        filter: invert(9%) sepia(1%) saturate(1331%) hue-rotate(118deg) brightness(100%) contrast(89%);
    }
    /* parte inferiore */
    /* GESTIONE schermo s-m-l */
    .menu-large-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--black);
        height: calc(100vh - 60px);
        width: 13.75rem;
        position: fixed;
    }
    .menu-large-container{
        display: none;
    }
    .menu-large-container ul li a img{
        width: 15%;
    }
    li.l-li{
        text-align: left;
    }
    .home-large,
    .playlist-titolo,
    .user-name
    {
        color: var(--white);
    }
    .playlist-titolo{
        padding-top: 1.875rem;
    }
    .l-li .logo-l{
        width: 80%;
    }
    .name-list{
        padding: .9375rem;
        color: var(--grey);
    }
    .playlist-container{
        max-height: 12.5rem;   
        overflow: auto;
    } 
    .add-ico a i{
        font-size: 3.125rem;
        padding-top: .9375rem;
        padding-right: .6875rem;
    }
    .large-content,
    .playlist-container,
    .large-content-list{
        background-color: var(--black);
    }
    .play-li,
    .playlist-titolo{
        padding-left: 1.0625rem;  
    }
    .hr{
        width: 13.75rem;
        margin: 0 auto;
        background: var(--grey);
        height: 2px;

    }
    .man-logo p{
        color: var(--white);
    }
    .align-p{  
        vertical-align: sub;  
        margin-right: .625rem;   /*tag "a"*/
    }
    /* fine gestione schermo s-m-l */
/* FINE NAVBAR */
/* SECTION 1 */
    .first-section{
        width: calc(100% - 220px);
    }
    .first-section-container{
        display: flex;
        justify-content: center;
        height: 60px;
        left: 220px;
        position: relative;
        top: 3.75rem;
    }
    .first-section-container p{
        padding: 1.5rem;
        color: var(--grey);
        font-size: 17px;
    }
/* FINE SECTION 1 */
/* MAIN */

/* FOOTER */
.footer-container{
    background-color: #da1515;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.75rem;
}
/* FOOTER */
@media screen and (min-width: 577px){
    .xs-container,
    .xs-content-list{
        display: none;
    }
    .menu-large-container{
        display: flex;
    }
}
@media screen and (min-width: 577px){
    .first-section-container{
        flex-wrap: wrap;
    }
}