*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
}
/* global */
:root{
    --black: black;
    --grey:#717171;
    --white: white;
}
.p-large{
    color: var(--grey);
    display: inline-block;
    vertical-align: super;
}
a{
    text-decoration: none;
    color: var(--grey);
}
ul,
li{
    list-style: none;
}

/* global */

/* GESTIONE DEGLI EVENTI (HOVER, ACTION ECC..) */
.first-section-container P:hover{
    color: white;
    border-bottom: 1px solid greenyellow;
}
.p-large:hover,
.play-li:hover{
    color: var(--white);
}
/* GESTIONE DEGLI EVENTI (HOVER, ACTION ECC..) */

/* HEADER */
.header-container{
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 5.6rem;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    justify-content: flex-end;
}

.header-button a{
    color: var(--white);
}
.button-container{
    align-self: center;
    padding-right: .3125rem;
    border: .125rem solid white;
    border-radius: 1.875rem;
    padding: .9375rem 2.5625rem;
    margin-right: 10px;
}
/* HEADER */

/* MAIN */
main{
    height: 100%;
    display: flex;
}

/* NAVBAR */
.navbar{
    height: 100vw;
}
.xs-container{              /*contenitore principale dell'xs schermo*/
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    height: calc(100% - 5.6rem);
    width: 3.125rem;
    position: fixed;
}
    /* parte superiore */
li.xs-li {                  /*lista schermo xs*/
    padding: .875rem;
}
li.xs-li.logo-xs {          /*logo schermo xs*/
    padding-top: .3125rem;
    padding-bottom: 1.0625rem;
}
    /* fine parte superiore */
    /* parte inferiore */
    .xs-content-list{
        margin-top: auto;
    }
  
    /* parte inferiore */
    /* GESTIONE schermo s-m-l */
    .menu-large-container{
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        height: calc(100% - 5rem);
        width: 14.375rem;
        position: fixed;
    }
    .menu-large-container{
        display: none;
    }
    .menu-large-container ul li a img{
        width: 15%;
    }
    .large-content{
        display: contents;

    }
    li.l-li{
        text-align: left;
    }
    .home-large,
    .playlist-titolo,
    .user-name
    {
        color: var(--white);
    }
    .playlist-titolo{
        padding-top: 1.875rem;
    }
    .l-li .logo-l{
        width: 80%;
    }
    .name-list{
        padding: .9375rem;
        color: var(--grey);
    }
    .playlist-container{
        overflow: auto;
        display: flex;
        flex-direction: column;
        height: auto;
        flex-grow: 1;
        min-height: 7.5rem;
    } 
    .add-ico a i{
        font-size: 3.125rem;
        padding-top: .9375rem;
        padding-right: .6875rem;
    }
    .large-content,
    .playlist-container,
    .large-content-list{
        background-color: var(--black);
    }
    .play-li,
    .playlist-titolo{
        padding-left: 1.0625rem;  
    }
    .hr{
        width: 13.75rem;
        margin: 0 auto;
        background: var(--grey);
        height: .125rem;

    }
    .man-logo p{
        color: var(--white);
    }
    .man-logo{
        padding-top: 1.4375rem;
        padding-bottom: .625rem;
    }
    .man-logo img{
        border-radius: 50%;
        background-color: #808080;
        object-fit: cover;
    }
    .align-p{  
        vertical-align: sub;  
        margin-right: .625rem;   /*tag "a"*/
    }
    .large-content-list{
        margin-top: auto;
    }
    /* fine gestione schermo s-m-l */
/* FINE NAVBAR */
/* CONTENITORE SEZIONI */
.main-container{    
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/* FINE CONTENITORE SEZIONI */
/* SECTION 1 */
    .first-section,     /*LARGHEZZA E MARGINE SEZIONI 1 E 2*/
    .two-section{
        width: 100%;
        margin-left: 3.125rem;
    }
    .first-section-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        padding-top: 1.375rem;
    }
    .first-section-container p{
        padding: .3125rem;
        color: var(--grey);
        font-size: .6875rem;
        border: 1px solid transparent;
    }
/* FINE SECTION 1 */
/* SEZIONE 2 */
.two-section{
    height: 100%;
    margin-left: 3.125rem;
}
.container-sec-two{
    display: flex;
    flex-wrap: wrap;
}
.section-title h2{
    color: var(--white);
    padding-top: 2.875rem;
    padding-bottom: 1.625rem;
    padding-left: .625rem;
    font-size: 1.5625rem;
}
.section-title p{
    color: var(--grey);
    padding-bottom: 1.875rem;
    padding-left: 1.25rem;
    font-size: 22px;
}
.box-two{
    width: calc((100% - 20px) / 2);
    margin: .3125rem;
    text-align: center;
    position: relative;
}
.box-two img{
    width: 100%;
    display: block;
    padding: .3125rem;
}
.subtitle-pad h3,
.box-3 h3{
    padding-top: 1.25rem;
    padding-bottom: .8125rem;
    color: var(--white);
    font-size: 26px;
}
.subtitle-pad p{
    padding-bottom: .8125rem;
    color: var(--grey);
    font-size: 18px;
}
/* FINE SEZIONE 2 */
/* SEZIONE 3 */
.section-3,
.section-4,
.section-5{
    width: 100%;
    margin-left: 3.125rem;
}
.container-sec-3{
    display: flex;
    text-align: center;
}
.box-3{
    margin: .3125rem;
}
.box-3 img{
    width: 100%;
    padding: .3125rem;
    display: block;
}
/* FINE SEZIONE 3 */
/* SEZIONE 4 */
/* LA LARGHEZZA DELLE SECTION-4 E DELLA SECTION-5 SI TROVA NELLA SEZIONE 3 */
.border-r{
    border-radius: 50%;
}
/* FINE SEZIONE 4 */

/* sezione 5 */
img.img-width {
    width: 50%;
}
.bottom-img{
    padding-bottom: 5rem;
    text-align: justify;
}
.bottom-img h3{
    padding-left: .3125rem;
}
/* MAIN */

/* FOOTER */
.footer-container{
    background-color: #282828;
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 5.6rem;
}
.footer-container i,p, h5{
    color: var(--white);
}
.foot-box{
    display: flex;
    width: 30%;
    min-width: 9.625rem;
}
.foot-box-big{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    min-width: 12.5rem;
}
/* parte di sinistra con foto */
.img-foot-box{
    display: flex;
    align-items: center;
}
.img-foot-box img{
    width: 2.1875rem;
    height: 2.1875rem;
}
.img-left-foot{
    padding: 1.8125rem .625rem 2.0625rem .625rem;
}
    /* parte di sinistra con foto */
    /* icone sinistra */
.icon-like-dir{
    padding:0 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
.spacific-p{
    display: flex;
    flex-wrap: wrap;
}
.spacific-p p{
    color: var(--grey);
    padding-right: .4375rem;
}

.icon-like-dir .fa-heart{
   margin-right: .9375rem;
}
    /* icone sinistra */
    /* parte centrale gestione canzone */
    .bar-time-center{
        padding-top: .9375rem;
        padding-bottom: 1.625rem;
    }
    .manage-song {
        padding-top: .625rem;
    }
    .padding-l-r{   /*pulsanti di sinistra */
        padding-left: 1.375rem;
        padding-right: 2rem;
    }
    .padding-r-l{   /*pulsanti di destra */
        padding-left: 2rem;
        padding-right: 1.375rem;
    }
    /* barra canzone al centro */
    .bar-time-center{
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .time-bar{      /*barra tempo canzone centrale */
        width: 60%;
        margin-top: .625rem;
        background-color: grey;
    }
    .actual-time{       /*barra tempo attuale canzone */
        width: 40%;
        background-color: #c1c1c1;
    }
    .actual-time,
    .time-bar{
        height: .25rem;
        border-radius: .3125rem;
    }
    .current-time,
    .total-time{    /*tempo della canzone attuale e durata tot */
        font-size: .8125rem;
    }
    .current-time{  /*tempo attuale canzone */
        padding-right: .625rem;
    }
    .total-time{        /*tempo totale */
        padding-left: .625rem;
    }
     /* barra canzone al centro */
    .foot-box i,
    .foot-box-big i{
        font-size: 1.0625rem;
        color: var(--white);
    }
    .foot-box i,
    .foot-box-big i{
        font-size: 1.0625rem;
    }
    /* pasrte di destra */
    .sound-bar{
        width: 40%;
        margin-bottom: .625rem;
    }
    .right-box-c{
        justify-content: end;
        align-items: center;
        padding-right: .625rem;
    }
    .general-command{
        padding: 0 .625rem;
    }
     /*fine parte di destra */
/* FOOTER */

/* RESPONSIVE */
/* SCREEN 576PX */
@media screen and (min-width: 576px){
    .xs-container,
    .xs-content-list{
        display: none;
    }
    .menu-large-container{
        display: flex;
    }
}


/* SCREEN 577PX */
@media screen and (min-width: 577px){
    /* sezione 1 */
    .first-section,
    .two-section,
    .section-3,
    .section-4,
    .section-5{
        margin-left: 13.75rem;
    }
    .first-section{
        width:100%;
    }
    .first-section-container p{
        padding: 1.125rem;
        color: var(--grey);
        font-size: .8125rem;
    }
      /* sezione 1 */
    /* sezione 2 */
    .box-two {
    width: 43%;
    }
    /* sezione 3 */
    .box-3{
        width: 43%;
    }
    .container-sec-3,
    .container-sec-two{
    padding-left: 20px;
    }
    /* sezione 5 */
    img.img-width {
        width: 100%;
    }
    /* footer */
    .foot-box i,
    .foot-box-big i{
        font-size: 20px;
    }
    .section-title {
        padding-left: 20px;
    }

}


/* SCREEN 768PX */
 @media screen and (min-width: 768px){
 
    /* sezione 2 */
    .box-two {
        width: 30%;
        }
        .section-title h2{
            font-size: 30px;
        }
    /* sezione 3 */
    .box-3{
        width: 30%;
    }
    /* sezione 5 */
    img.img-width {
        width: 100%;
    }
    /* footer */
    .foot-box i,
    .foot-box-big i{
        font-size: 22px;
    }
    .manage-song{
        padding-top: 13px;
    }
    
}


/* SCREEN 992PX */
@media screen and (min-width: 992px){

    /* sezione 2 */
    .box-two {
        width: 23%;
        }
        .section-title h2{
            font-size: 40px;
        }
    /* sezione 3 */
    .box-3{
        width: 23%;
    }
}

/* screen 1200 */

@media screen and (min-width: 1200px){

    /* sezione 2 */
    .box-two {
        width: calc(100% / 7 + .875rem);
        }
        .section-title h2{
            font-size: 50px;
        }
    /* sezione 3 4 5*/
    .box-3{
        width: calc(100% / 7 + .875rem);
    }
}
